<?xml version="1.0"?>

<model>
  <name>uav with Gimbal</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Cristhian Vigo</name>
  </author>

  <depend>
    <model>
      <uri>model://uav_with_standoffs</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
